section#sidebar
  .inner
    nav
      ul
        li
          a(href='#intro') Welcome
        li
          a(href='#one') Who we are
        li
          a(href='#two') What we do
        li
          a(href='#three') Get in touch
